body {
  margin: 0;
}

.header {
  margin: 0.7rem 0.7rem 0;
}

.btn-dark {
  background-color: #000;
  border-color: #000;
}

.btn-outline-dark {
  color: #000;
  border-color: #000;
  border: 2px solid #000;
}

.slogan {
  font-size: 20px;
  color: #000;
}

.btn {
  font-size: 16px;
}

.container__buttons {
  margin-top: 4rem;
}

.progress {
  padding: 0;
  margin-right: 3rem;
  height: 5px;
  border-radius: 0;
  background-color: #dddddd;
}

.progress-bar {
  background-color: #7c7c7c;
}

.backlink {
  text-decoration: none;
  font-size: 18px;
}

.display-6 {
  font-weight: 400;
  margin: 2rem auto 5rem;
}

.display-5 {
  font-weight: 400;
  font-size: 28px;
  color: #333333;
}

.lead {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.form-check {
  height: 42px;
  padding-left: 2.2em;
  color: #1a1a1a;
  background-color: #f5f8ff;
  font-size: 15px;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

.form-check-input {
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  margin-right: 0.8em;
}

.form-check-input:checked {
  background-color: #fff;
  border-color: #000;
}

.form-check-input:checked[type="radio"] {
  background-image: url("./assets/dot.png");
  background-size: 25px 25px;
  box-shadow: none;
}

.form-check-label {
  margin-top: 5px;
}

.container__identification {
  margin-right: 1.5rem;
}

.anchor_modal {
  color: #000;
  font-size: 16px;
}

.anchor_modal:hover {
  color: #000;
}

.btn-send {
  margin-right: 1.5rem;
}

.container__info {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 0 1.5rem 3rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fadein_animation {
  overflow: hidden;
  animation-duration: 1s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 330px) {
  .anchor_modal {
    font-size: 14px;
  }
  .display-5 {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .container__resize {
    width: 50%;
    transform: translateX(50%);
  }
  .display-6 {
    font-size: 24px;
  }
  .slogan {
    font-size: 27px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 992px) {
  .container__resize {
    width: 30%;
    transform: translateX(100%);
  }
  .display-6 {
    font-size: 30px;
  }
  .slogan {
    font-size: 30px;
    padding-left: 21rem;
    padding-right: 21rem;
  }
}
